In [26]:
import numpy as np 
import pandas as pd

In [27]:
df = pd.read_csv("teenpati_dataset.csv")

In [28]:
df.head()

        roundid formula1 formula2 formula3 formula4    result
0  1.702918e+09        B        A     Null        B  Player B
1  1.703903e+09        B        A        B        B  Player A
2  1.703305e+09        A        A     Null        B  Player A
3  1.703162e+09        A        A     Null        A  Player B
4  1.702797e+09        B        A     Null        B  Player B

In [29]:
df.shape

(18347, 6)

In [30]:
df = df.drop(columns=['formula3','roundid'])

In [31]:
df.head()

  formula1 formula2 formula4    result
0        B        A        B  Player B
1        B        A        B  Player A
2        A        A        B  Player A
3        A        A        A  Player B
4        B        A        B  Player B

In [32]:
new_df = pd.get_dummies(df , columns=['formula1','formula2','formula4'])

In [33]:
new_df

,result,formula1_A,formula1_B,formula2_A,formula2_B,formula4_A,formula4_B
0,Player B,0,1,1,0,0,1
1,Player A,0,1,1,0,0,1
2,Player A,1,0,1,0,0,1
3,Player B,1,0,1,0,1,0
4,Player B,0,1,1,0,0,1
...,...,...,...,...,...,...,...
18342,Player B,0,1,0,1,0,1
18343,Player B,0,1,1,0,0,1
18344,Player A,0,1,1,0,0,1
18345,Player B,0,1,1,0,0,1
18346,Player A,0,1,0,1,0,1

In [34]:
# def impute(x):
#     if x == "Player A":
#         return 1
#     else:
#         return 2

# def col_imp(x):
#     if x == 'A':
#         return 0
#     else:
#         return 1

In [35]:
# df['formula1'] = df['formula1'].apply(col_imp)
# df['formula2'] = df['formula2'].apply(col_imp)
# df['formula4'] = df['formula4'].apply(col_imp)

In [37]:
new_df['result'] = new_df['result'].apply(impute)

In [39]:
new_df

,result,formula1_A,formula1_B,formula2_A,formula2_B,formula4_A,formula4_B
0,2,0,1,1,0,0,1
1,1,0,1,1,0,0,1
2,1,1,0,1,0,0,1
3,2,1,0,1,0,1,0
4,2,0,1,1,0,0,1
...,...,...,...,...,...,...,...
18342,2,0,1,0,1,0,1
18343,2,0,1,1,0,0,1
18344,1,0,1,1,0,0,1
18345,2,0,1,1,0,0,1
18346,1,0,1,0,1,0,1

In [40]:
from sklearn.model_selection import train_test_split

In [43]:
X = new_df.iloc[:,1:7]
y = new_df.iloc[:,0]

In [45]:
y

0        2
1        1
2        1
3        2
4        2
        ..
18342    2
18343    2
18344    1
18345    2
18346    1
Name: result, Length: 18347, dtype: int64

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [67]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [68]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [69]:
from sklearn.naive_bayes import GaussianNB

In [70]:
model = GaussianNB()

In [71]:
model.fit(X_train_scaled,y_train)

GaussianNB()

In [72]:
y_pred = model.predict(X_test)

C:\Users\reliance\anaconda3\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  warnings.warn(

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
accuracy_score(y_pred,y_test)

0.49700272479564034