In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("teenpati_dataset.csv")

In [4]:
df.head()

        roundid formula1 formula2 formula3 formula4    result
0  1.702918e+09        B        A     Null        B  Player B
1  1.703903e+09        B        A        B        B  Player A
2  1.703305e+09        A        A     Null        B  Player A
3  1.703162e+09        A        A     Null        A  Player B
4  1.702797e+09        B        A     Null        B  Player B

In [5]:
df.shape

(18347, 6)

In [6]:
df = df.drop(columns=['formula3','roundid'])

In [7]:
df.head()

  formula1 formula2 formula4    result
0        B        A        B  Player B
1        B        A        B  Player A
2        A        A        B  Player A
3        A        A        A  Player B
4        B        A        B  Player B

In [82]:
# new_df = pd.get_dummies(df , columns=['formula1','formula2','formula4'])

In [83]:
# new_df

,result,formula1_A,formula1_B,formula2_A,formula2_B,formula4_A,formula4_B
0,Player B,0,1,1,0,0,1
1,Player A,0,1,1,0,0,1
2,Player A,1,0,1,0,0,1
3,Player B,1,0,1,0,1,0
4,Player B,0,1,1,0,0,1
...,...,...,...,...,...,...,...
18342,Player B,0,1,0,1,0,1
18343,Player B,0,1,1,0,0,1
18344,Player A,0,1,1,0,0,1
18345,Player B,0,1,1,0,0,1
18346,Player A,0,1,0,1,0,1

In [8]:
def impute(x):
    if x == "Player A":
        return 1
    else:
        return 2

def col_imp(x):
    if x == 'A':
        return 0
    else:
        return 1

In [9]:
df['formula1'] = df['formula1'].apply(col_imp)
df['formula2'] = df['formula2'].apply(col_imp)
df['formula4'] = df['formula4'].apply(col_imp)

In [10]:
df['result'] = df['result'].apply(impute)

In [11]:
df

       formula1  formula2  formula4  result
0             1         0         1       2
1             1         0         1       1
2             0         0         1       1
3             0         0         0       2
4             1         0         1       2
...         ...       ...       ...     ...
18342         1         1         1       2
18343         1         0         1       2
18344         1         0         1       1
18345         1         0         1       2
18346         1         1         1       1

[18347 rows x 4 columns]

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X = df.iloc[:,1:7]
y = df.iloc[:,0]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
model = RandomForestClassifier()

In [17]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [18]:
y_pred = model.predict(X_test)

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
accuracy_score(y_pred,y_test)

0.8771117166212534