**Building TF-IDF from scratch**

In [1]:
# importing necessary Libraries
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

In [2]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\reliance\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
df = pd.read_csv("bbc-text.csv")

In [4]:
df.head()

        category                                               text
0           tech  tv future in the hands of viewers with home th...
1       business  worldcom boss  left books alone  former worldc...
2          sport  tigers wary of farrell  gamble  leicester say ...
3          sport  yeading face newcastle in fa cup premiership s...
4  entertainment  ocean s twelve raids box office ocean s twelve...

In [17]:
# populate word2idx
# Convert document into sequences of int , indeces
idx = 0
word2idx = {} # Keeping dictionary for word to idx mapping
tokenized_docs = []

for doc in df['text']:
    tokens = word_tokenize(doc.lower())
    doc_as_int = []
    for token in tokens:
        
        if token not in word2idx:
            word2idx[token] = idx
            idx+=1
            #saving the idx of each document
            doc_as_int.append(word2idx[token])
    # counting how many number of documents are coverted into number
    tokenized_docs.append(doc_as_int)

In [18]:
#Reverse mapping
idx2word = {v:k for k,v in word2idx.items()}

In [35]:
# Another simple way to store words and can access it throgh index
# This is more efficient than above dictionary
vocabulary =[]
for k in word2idx.keys():
    vocabulary.append(k)

In [36]:
# Number of documents
N = len(df["text"])
# Number of words
V = len(vocabulary)

In [40]:
# Creating a tf metrix
tf = np.zeros((N,V))

In [55]:
# populate term frequency counts
for i , doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j] +=1

In [58]:
tf

array([[1., 1., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])